{% extends 'base.html' %}

{% block content %}

<h2>📊 Dashboard  الفتح</h2>

<div class="cards">

    <div class="card">
        <h3>📦 Matériels</h3>
        <p class="number">{{ total_materiels }}</p>
        <p class="label">Total matériels</p>
    </div>

    <div class="card">
        <h3>👨‍🏫 Enseignants</h3>
        <p class="number">0</p>
        <p class="label">Total enseignants</p>
    </div>

    <div class="card">
        <h3>🎓 Étudiants</h3>
        <p class="number">0</p>
        <p class="label">Total étudiants</p>
    </div>

    <div class="card">
        <h3>🌸 Session Printemps</h3>
        <p class="number">0</p>
        <p class="label">Sessions printemps</p>
    </div>

    <div class="card">
        <h3>☀️ Session Été</h3>
        <p class="number">0</p>
        <p class="label">Sessions été</p>
    </div>

    <div class="card">
        <h3>📁 وثائق الهيئة</h3>
        <p class="number">0</p>
        <p class="label">Documents</p>
    </div>
     
</div>

{% endblock %}